/home/.bash_history
/home/howm
/home/howm_archives
/home/qfixhowm
/startup_emacsclient.exe
/startup_gvim.exe
/startup_lib.dll
/desktop.ini
/run_peflagsall.exe
/run_rebaseall.exe
/run_takeown_icacls.exe
/startup_cygwin.exe
/startup_emacs.exe
/home.preset
/home.default
/temp
/app/cygwin
/app/script/mkgroup.pl
/app/script/mkpasswd.pl
/app/script/run_peflagsall.sh
/app/script/run_rebaseall.sh
/app/script/setup_context_menu.vbs
/app/vim/lua
/app/vim/origdoc
/app/vim/patch
/app/vim/switches
/app/vim/vim80
/app/vim/CHANGES.md
/app/vim/diff.exe
/app/vim/gvim.exe
/app/vim/gvimrc
/app/vim/iconv.dll
/app/vim/intl.dll
/app/vim/lua51.dll
/app/vim/luajit.exe
/app/vim/msvcr100.dll
/app/vim/README.txt
/app/vim/tee.exe
/app/vim/vim.exe
/app/vim/vimrc
/app/vim/vimrun.exe
/app/vim/xxd.exe
/app/vim/plugins/vimproc
/app/vim/plugins/autofmt
/app/vim/plugins/golang
/app/vim/plugins/kaoriya
/app/vim/plugins/vimdoc-ja
